body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #F4F1DE;
    color: #3D405B;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.8rem 5%;
    font-family: 'Lobster', cursive;
    background: rgba(244, 241, 222, 0.9);
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgba(233, 119, 53, 1.5);
}

.navigation {
    display: flex;
    gap: 2rem;
}

.navigation a {
    text-decoration: none;
    color: #3D405B;
    transition: color 1.3s;
}

.navigation a:hover {
    color: red;
}

.order {
    background: rgba(233, 119, 53, 1.5);
    border-radius: 30px;
    padding: 0.8rem 2rem;
    border: none;
    transition: transform 0.3s;
    cursor: pointer;
}

.order a {
    text-decoration: none;
    color: white;
}

.order:hover {
    transform: translateY(-2px);
}

/* Thêm nút list và checkbox */
#nav-toggle {
    display: none;
}

.list {
    display: none;
    font-size: 1.8rem;
    color: #3D405B;
    cursor: pointer;
}


.main{
    min-width: 100px;
    padding: 8rem 5% 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    padding-top: 12%;
}

.main-content{
    max-width: 600px;
}
 .main h1{
    font-size: clamp(2.5rem, 5rem, 4rem);
    line-height: 1.2;
    margin-bottom: 1.5rem; /*1rem = 16px*/
    color: #3D405B;
 }
 
 .main p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666;
 }

 .main-image{
    position: relative;
 }

 .main-image img{
    max-width: 100%;
    border-radius: 5%;
    object-fit: cover;
    transition: transform 0.3s;
 }

 .main-image img:hover{
    transform: scale(1.05);
 }
 

    /*Menu*/
 .menu{
    padding: 2rem 5%;
    background: white;
 }
.menu h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap: 2rem;
}

.menu-product{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
.menu-product h3{
    color: #3D405B;
}

.menu-product a{
    text-decoration: none;
}

.menu-product:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}
.menu-product img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.menu-product-content{
    padding: 1.5rem;
    text-align: center;
}
.menu-product h3{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
.menu-product p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
}
.menu-product .price{
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(233, 119, 53, 1.5);
}




    /* Testimonials*/
.testimonials{
    padding: 36px 5%;
    background: #F4F1DE;
    
}
.testimonials h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 48px;
    color: #528B8B;
}

.testimonials-carousel{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 32px;
}
.testimonials-items{
    background: white;
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}
.testimonials-items:hover{
    transform: translateY(-10px);
}

.testimonials img{
    max-width: 100%;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimonials img:hover{
    transform: scale(1.02);
}


.icon-stars{
    color: rgb(249, 249, 36);
}




footer{
    background: #3D405B;
    color: white;
    padding: 64px 5%;
    text-align: center;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 48px;
}

.footer-items h3{
    color: #F2CC8F;
    margin-bottom: 24px;
}

.social-links{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;
}
.social-links a{
    color: white;
    font-size: 25px;
    transition: color 0.5s;
}
.social-links a:hover{
    color: #81B29A;
}

html{
    scroll-behavior: smooth;
}

.scroll-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgba(244, 241, 222, 0.9);
    color: white;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    border-radius: 50%;
    font-size: 16px;
    transition: all 0.3s;
}

.scroll-to-top:hover{
    color: #F4F1DE;
}
/* Mobile*/
@media screen and (max-width: 768px) {
    .list {
        display: block;
    }

    .navigation {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(244, 241, 222, 0.9);
        padding: 1rem 5%;
        box-sizing: border-box;
    }

    
    #nav-toggle:checked ~ header .navigation {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    
   
    .main{
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 8rem;
    }
    .main-image{
        order: -1;
    }

    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .main-content h1{
        font-size: 27px;
        
    }
}

